OnlyMusicShop/.vs/
OnlyMusicShop/OnlyMusicShop.Application/src/OnlyMusicShop.Application/obj/
OnlyMusicShop/OnlyMusicShop.Application/test/OnlyMusicShop.Application.Tests/obj/
OnlyMusicShop/OnlyMusicShop.Application/src/OnlyMusicShop.Application/bin/
OnlyMusicShop/OnlyMusicShop.Application/test/OnlyMusicShop.Application.Tests/bin/
